body {
	padding: 0 500px;
	font-size: 14px;
	line-height: 22px;
	font-family: "Georgia", serif;
	color: #222222;
	}

	h1 {
		text-align: center;
		color: white;
		background: rgb(71, 105, 216);	
	}	
	
	div {
		background-color: rgb(92, 130, 255);
		color:white;
		font-size: 20px;
		border: 1px solid #ffffff;
	margin: 10px;
	display: inline-block;
	text-align: center
	}
	
	header {
	background: rgb(158, 180, 255);
	height: 70px;
	margin-bottom: 0px;
	}

	aside {
		margin: -10px 0 5px;
		margin-bottom: 50px;
		height: 500px;
		width: 40%;
		float: left;
	}
	section {
		margin: -10px 0 5px;
		margin-bottom: 10px;
		float: left;
		height: 500px;
		width: 60%;
		text-align: center;
		background-color: rgb(71, 105, 216);
	}


	article {
		float: left;
		width: 60%;
	color: white;
	background: rgbrgb(0, 0, 197);
	margin: -20px 0 5px;
	}

	span {
		width: 40%;
float: left;
font-size: 30px;
	}
	
	div {
		font-size: 20px;
		background-color: #2d4af0;
		color:white;
		border: 3 px solid white;
	}

img {
	text-align: right;
}


	aside {
		background-color: rgb(158, 180, 255);
		color:white;
	}
	
	p {
		margin: -5px 0 5px;
		background-color: rgb(1, 1, 109);
		color:white;
	
	
	}
	
	footer {
		margin: -20px 0 5px;
		height: 50px;
		text-align: center;
		background-color: #002df3;
	}

	   h2 {
		   font-size: 25px;
		   text-align: left;
	   }

	   nav {
		letter-spacing: 1px;
		   padding-bottom: 30px;
	   }
	
	   legend{
		border-radius: 7px;
		text-align: left;
		margin-left: 1px;
		font-size: 25px;
	
	}fieldset{
		color:rgb(0, 0, 131);
		border: 1px siold blue;
	}

	li {
		font-size: 20px;
		background-color: #2d4af0;
		color:white;
		border: 3 px solid white;	
	}